
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Layout/_Index.cshtml";
}

<section class="section-content padding-y">
    <div class="container">
        <h2>ĐẶT HÀNG THÀNH CÔNG</h2>

        <h4>Đơn đặt hàng của bạn đã thành công. Vui lòng click @Html.ActionLink("Here", "Index", "Home") để trở về trang chủ!!!</h4>
    </div>
</section>
